.texto-intro-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoIntro {
  font-size: x-large;
  text-align: center;
}

.quote {
  text-align: center;
  padding: 0 2% 0 2%;
}

#nosCambian {
  font-size: xx-large;
}

.black-background {
  background-color: black;
  color: white;
}

@media screen and (max-width: 800px) {
  #nosCambian {
    font-size: x-large;
  }
}

@media screen and (max-width: 400px) {
  .texto-intro-container {
    font-size: medium;
  }
}

@media screen and (max-width: 600px) {
  .texto-intro-container {
    font-size: small;
  }
}
