.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-black {
  background-color: black;
  color: white;
  font-size: medium;
  padding-left: 10%;
  padding-right: 10%;
}

.textoIntro {
  font-size: x-large;
}

#nosCambian {
  font-size: xxx-large;
}

@media screen and (max-width: 800px) {
  .textoIntro {
    font-size: medium;
    padding: 5%;
  }

  #nosCambian {
    font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .intro-black {
    font-size: small;
  }
}