.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vistaActoSentido {
  width: auto;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90% ;
  justify-items: center;
  align-content: center;
}

.title {
  font-weight: 900;
  font-size: 2.5rem;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 2/3;
  cursor: default;
  border-width: 5px;
  border-style: solid;
  padding: 1% 5%;
  position: absolute;
  top: 10%;
}

.gifParticipantes {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 50% 50%;
  align-content: center;
  justify-content: center;
  gap: 5% 2%;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100vw;
}

.personCategoria {
  background-color: transparent;
  border: none;
  width: 150px;
}

.gifParticipanteStatic {
  border-width: 4px;
  border-style: solid;
  border-color: black;
  width: 150px;
  position: absolute;
}

.gifParticipanteStatic:hover {
  opacity: 0;
}

.gifParticipanteActive {
  border-width: 4px;
  border-style: solid;
  border-color: black;
  width: 150px;
}

.data {
  grid-column: 1/2;
  grid-row: 1/2;
  cursor: default;
}

.informationName,
.informationData {
  font-size: 0.8rem;
}

.informationData {
  font-weight: 100;
}

@media screen and (max-width: 640px) {
  .vistaActoSentido {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-columns: 100%;
    grid-template-rows: 5% 95%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 0;
}
.title{
  top: 5%;
}
.gifParticipantes {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-auto-flow: row;
  position: relative;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 25%;
  width: 80%;
}

.personCategoria, .gifParticipanteStatic, .gifParticipanteActive {
  height: 100px;
  width: 100px;
}

.personCategoria {
  padding: 0;
}


.close {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.video {
  width: auto;
  height: auto;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: black;
  padding: 2% 5%;
}
}