@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.first {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 1%;
}

.logo {
    height: 40%;
    cursor: default;
    top: 50%;
    left: 50%;
    -webkit-transform: trans late (-50%, -50%);
    -moz-trahsform: trans late (-50%, -50%);
    -o-transform: trans late (-50%, -50%);
    -ms-transform: trans late (-50%, -50%);
    transform: trans late (-50%, -50%);

}

.welcome {
    text-align: center;
    font-size: 3rem;
    cursor: default;
    margin: 0 3%;
}

.subWelcome {
    font-size: 1.12rem;
    cursor: default;
    margin: 0 4%;
    font-weight: 100;
}

.firstArrow {
    font-size: 3rem;
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: black;
}

.firstArrow:hover {
    transition: all .1s ease;
    transform: translateX(-10px);
}

.second,
.third,
.fifth {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.secondText,
.thirdText,
.fifthText {
    font-weight: 100;
    font-size: 1.5rem;
    cursor: default;
}

.arrow {
    font-size: 3rem;
    position: absolute;
    bottom: 2%;
    right: 2%;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    align-items: flex-end;
}

.arrow:hover {
    transition: all .1s ease;
    transform: translateX(-10px);
}

.arrowWhite {
    font-size: 3rem;
    position: absolute;
    right: 2%;
    bottom: 2%;
    text-decoration: none;
    color: white;
}

.arrowWhite:hover {
    transition: all .1s ease;
    transform: translateX(-10px);
}

.arrowSixth {
    display: flex;
    font-size: 3rem;
    position: absolute;
    right: 2%;
    bottom: 2%;
    text-decoration: none;
    color: white;
    margin-bottom: 0;
    align-items: flex-end;
}

.arrowSixth:hover {
    transition: all .1s ease;
    transform: translateX(-10px);
}

.fourth {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 0;
    cursor: default;
}

.sixth {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: left;
    padding: 0 20%;
    gap: 1%;
}


.quote {
    font-size: 1rem;
    font-weight: 100;
    padding: 0 10%;
    text-align: justify;
    cursor: default;
    word-spacing: 0.3rem;
}

.person {
    text-align: left;
    font-size: 0.75rem;
    font-weight: 900;
    margin: 1% 10% 5%;
    word-spacing: 0.3rem;
    cursor: default;
}

.blackLogo {
    height: 25%;
}

.instructionsTitle {
    font-size: 2.5rem;
    cursor: default;
}

.instructions {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.instructionsText {
    font-size: 1.1rem;
    text-align: justify;
    margin: 0 20%;
    padding: 0 5%;
    cursor: default;
}

.two {
    margin-top: 1%;
}

.btnInstructions {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
}

.btnInstructions:hover {
    transform: translateY(-5px);
    background-color: transparent;
}

.choice {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 1%
}

.choiceText {
    font-size: 2.1rem;
    font-weight: 900;
    text-align: center;
    color: white;
    cursor: default;
}

.btnChoice {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.choiceParticipantes {
    color: white;
    font-weight: 900;
    font-size: 2.25rem;
    padding: 5rem 3rem 5rem 3rem;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin: 1%;
    text-decoration: none;
}

.choiceCategorias {
    color: white;
    font-weight: 900;
    font-size: 2.25rem;
    padding: 5rem 4.8rem 5rem 4.8rem;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin: 1%;
    text-decoration: none;
}

.btnText:link,
.btnText:visited {
    color: black;
}

.choiceCategorias:hover,
.choiceParticipantes:hover {
    transform: translateY(-5px);
    background-color: transparent;
}

.boldItalic {
    font-style: italic;
}

span {
    font-weight: 900;

}

a {
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .first {
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        gap: 1%;
    }

    .logo {
        width: 80%;
        height: 20%;
    }

    .welcome {
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
    }

    .subWelcome {
        margin: 0 10%;
        font-size: 1rem;
        font-weight: 100;
        text-align: center;

    }

    .firstArrow {
        color: black;
        position: relative;
        padding: 0;
        right: 0;
        top: 10%
    }

    .second,
    .third,
    .fifth {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .secondText,
    .thirdText,
    .fifthText {
        font-weight: 100;
        font-size: 1rem;
        text-align: center;
        margin: 0 4rem;

    }

    .arrow {
        font-size: 2.5rem;
        text-decoration: none;
        color: black;
        position: relative;
        padding: 0;
        right: 0;
        top: 50%;

    }

    .arrowWhite {
        font-size: 2.5rem;
        text-decoration: none;
        color: white;
        padding: 0;
        right: 0;
        position: relative;
        top: 30%;
    }

    .arrowSixth {
        display: flex;
        font-size: 3rem;
        position: relative;
        right: 0;
        padding: 0;
        margin: 15% 0 0 0;
        text-decoration: none;
        color: white;
        align-items: flex-end;
        justify-content: center;

    }

    .fourth {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        gap: 1%;
    }

    .sixth {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        background-color: black;
        color: white;
        justify-content: center;
        text-align: left;
        padding: 0 2.5rem;
    }

    .quotes {
        display: flex;
        flex-direction: column;
    }


    .quote {
        font-size: 1rem;
        font-weight: 100;
        text-align: justify;
        margin-top: 1rem;
        padding: 0;
        word-spacing: 0.1rem;
    }

    .person {
        text-align: left;
        font-size: 0.7rem;
        font-weight: 900;
        margin: 0.5rem 0;
        word-spacing: 0.2rem;
    }

    .instructions {
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
        margin: 0 15%;
    }

    .blackLogo {
        height: 150px;
        margin-bottom: 20%;

    }

    .instructionsTitle {
        font-size: 2.2rem;
        cursor: default;
        width: 100%;
        text-align: center;
    }

    .instructionsText {
        font-weight: 100;
        font-size: 0.8rem;
        text-align: justify;
        margin: 0 1%;
        padding: 0 1%;
        word-spacing: -0.3rem;
        line-height: 1.5;
    }

    .two {
        margin-top: 5%;
    }

    .btnInstructions {
        border-style: solid;
        border-color: black;
        border-width: 4px;
        color: black;
        text-decoration: none;
        padding: 1rem 2.1rem;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 5%;
    }

    .choice {
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        gap: 2%;
        padding: 0 15%;
    }

    .choiceText {
        font-size: 1.3rem;
        font-weight: 900;
        text-align: center;
        color: white;
    }

    .btnChoice {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .choiceParticipantes {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        padding: 2rem;
        border-style: solid;
        border-color: white;
        border-width: 4px;
        margin-bottom: 3%;
    }

    .choiceCategorias {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        padding: 2rem;
        border-style: solid;
        border-color: white;
        border-width: 4px;
        text-align: center;
    }
}