.containerRetribucion {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.retribucion {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
  justify-content: center;
}
.titleRetribucion {
  width: 53%;
  height: auto;
  color: white;
  text-align: left;
  font-size: 3rem;
}

.descripcion {
  width: 53%;
  height: auto;
  color: white;
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
  grid-row: 2/3;
}

.containerlinks {
  display: flex;
  justify-content: center;
}
.nameLink {
  background-color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 2rem 3rem;
}
.linksName {
  width: 20%;
}

.descripcionLink {
  background-color: white;
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-size: 0.8rem;
}
.containerDescription {
  width: 30%;
}

.footer {
  grid-column: 1/4;
  grid-row: 4/5;
}
