.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.containerVistaCategoria {
    width: auto;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 90% 5%;
    justify-items: center;
    align-content: space-evenly;

}

.backArrow {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    border: none;
}

.titleCategoria {
    font-weight: 900;
    font-size: 2.5rem;
    grid-column: 2/3;
    grid-row: 2/3;
    cursor: default;
    bottom: 30%;
    position: relative;
    border-width: 8px;
    border-style: solid;
    padding: 1% 5%;
}

.categorias {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 40%;
}

.ctgr{
    display: flex;
    margin: 0.5rem 1rem;
    padding: 2rem 2.7rem;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-decoration: none;
    justify-content: center;
}
.ctgr:hover{
    transform: translateY(-5px);
    background-color: transparent;
}
.footer {
    grid-column: 1/4;
    grid-row: 4/5;
}

@media screen and (max-width: 640px) {
    .containerVistaCategoria {
        width: auto;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .backArrow {
        text-decoration: none;
        color: black;
        font-size: 2.5rem;
        position: absolute;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .titleCategoria {
        display: flex;
        font-weight: 900;
        font-size: 2.5rem;
        justify-content: center;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .categorias {
        display: flex;
        flex-direction: column;
    }

    .ctgr {
        display: flex;
        margin: 0.5rem 1rem;
        padding: 1rem 2.7rem;
        border-color: black;
        border-width: 7px;
        border-style: solid;
        font-size: 2rem;
        font-weight: 900;
        color: black;
        text-decoration: none;
        justify-content: center;
    }

    .footer {
        grid-column: 1/4;
        grid-row: 4/5;
    }
}