
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerVistaParticipantes {
  height: 100vh;
  width: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: stretch;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 15% 70% 5%;
  gap: 1%;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loading {
  margin-top: 7%;
  height: 45px;
  aspect-ratio: 1.2;
  --c: no-repeat repeating-linear-gradient(90deg, #000 0 20%, #0000 0 40%);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%;
  background-size: calc(500%/6) 50%;
  animation: b10 1s infinite linear;
}

.backArrow {
  text-decoration: none;
  color: black;
  position: relative;
  margin: 70% 100% 0 0;
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: transparent;
}

.backArrow:hover{
  transition: all .1s ease;
  transform: translateX(-10px);
  background-color: transparent;
}

.titleParticipantes {
  font-weight: 900;
  font-size: 3rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  cursor: default;
  grid-row: 2/3;
  grid-column: 2/3;
}

.participantesContainer {
  width: 10vw;
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: auto auto auto auto auto auto auto;
  position: absolute;
  gap: 3%;
}

.participante {
  cursor: pointer;
}

.participante:hover{
  transform: translateY(-5px);
    background-color: transparent;
}

.participanteImg {
  width: 150px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.personaContainer {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 5% 15% 75% 5%;
  align-items: center;
  justify-items: center;
  align-content: space-between;
}

.bckArrow {
  text-decoration: none;
  color: black;
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-left: 70%;
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.bckArrow:hover {
  transition: all .1s ease;
  transform: translateX(-10px);
  background-color: transparent;
}

.cuña {
  text-align: center;
  font-size: 0.7rem;
  grid-row: 2/3;
  grid-column: 1/4;
  margin: 0 25%;
  cursor: default;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 3/4;
}

.name {
  font-weight: 900;
  font-size: 2rem;
  padding: 10px 50px;
  border-width: 8px;
  border-style: solid;
  border-color: black;
  text-transform: uppercase;
  position: absolute;
  cursor: default;
  margin-bottom: 27%;
  background-color: white;
}

.imgPersona {
  border-style: solid;
  border-color: black;
  border-width: 8px;
  height: 70%;
  padding: 0.5rem;
}

.play{
  position: absolute;
  font-size: 10rem;
}

.categoria {
  display: flex;
  justify-content: center;
  margin: 3.5rem 0;
  padding: 1rem 0;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  font-size: 2rem;
  font-weight: 900;
  width: 20rem;
  background-color: white;
  cursor: pointer;
}

.categoria:hover{
  transform: translateY(-5px);
  background-color: transparent;
}

.categoriasIzq {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 3/4;
}

.categoriasDer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 3/4;
  grid-row: 3/4;
}

.containerModal {
  width: 50vw;
  height: 60vh;
  background: white;
  border-width: 5px;
  border-style: solid;
  margin: auto;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 60% 20%;
  padding: 1% 0;
  align-items: center;
}

.backArrowModal {
  border: none;
  background-color: transparent;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 2rem;
  position: relative;
  left: 90%;
  cursor: pointer;
}

.backArrowModal:hover{
  transition: all .1s ease;
  transform: translateX(-10px);
  background-color: transparent;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, 
              opacity 1s ease;
}

.icon {
  transform: scale(.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

#play:hover {
  .stroke-solid {
    opacity: 1;
    stroke-dashoffset: 300;
  }
  .icon {
    transform: scale(.9);
  }
}


#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}


.footer {
  position: relative;
}

@media screen and (max-width: 640px) {
  .containerVistaParticipantes {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 10% 80% 5%;
    align-items: center;
    justify-items: center;
  }

  .personaContainer {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 30% 10% 50% 5%;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .backArrow {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .titleParticipantes {
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    font-weight: 900;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-width: 4px;
    border-style: solid;
    border-color: black;
  }

  .participantesContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-column: 2/3;
    grid-row: 4/5;
    height: 25%;
    width: auto;
  }

  .bckArrow {
    color: black;
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 2rem;
  }

  .participante {
    height: 100%;
  }

  .participanteImg {
    width: 100px;
  }

  .cuña {
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .categoriasIzq {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    margin: 0;
  }

  .infoPersona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .nombrePersona {
    /* display: flex; */
    font-weight: 900;
    font-size: 2.25rem;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    margin: 0 35rem;
    text-transform: uppercase;
  }

  .imgPersona {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    height: 25rem;
    width: 25rem;
    padding: 0.5rem;
  }

  .categoriasDer {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    margin: 0;
  }

  .categoria {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
    padding: 1rem 0;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    font-size: 2rem;
    font-weight: 900;
    width: 20rem;
  }

  .footer {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .categoria:visited {
    color: black;
  }
}