html, body, section {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 90%
}

#containerVistaCategoria {
  height: 100%;
}

#contenido-categoria {
  display: flex;
  flex-direction: row;
}

.titleCategoria {
  width: 200px;
  padding: 10px;
  border-color: black;
  border-width: 6px;
  border-style: solid;
}

.colContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.ctgr {
  display: flex;
  border-color: black;
  border-width: 8px;
  border-style: solid;
  width: 200px;
  font-size: 2rem;
  padding: 20px;
  font-weight: 900;
  color: black;
  text-decoration: none;
  justify-content: center;
}

.ctgr:hover {
  transform: translateY(-5px);
  background-color: transparent;
}

.imagenes-participantes {
  border: 6px solid black;
}

.imagenes-participantes:hover {
  transform: translateY(-5px)
}

#contenedor-grupo-iframe {
  padding: 10px;
}

#contenedor-nombre-participante {
  display: flex;
  justify-content: center;
}

#nombre-participante {
  background-color: white;
  border: 4px solid black;
  width: fit-content;
  padding: 0 10px 0 10px;
  position: relative;
  top: 40px;
}

iframe {
  height: 700px;
  width: 1280px;
}

#iframe-participante {
  padding: 6px;
  border: 4px solid black;
}

#cuna {
  display: block;
  background-color: white;
  margin-top: 120px;
  width: 1280px;
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 2000px) {
  iframe {
    height: 360px;
    width: 640px;
  }
}

@media screen and (max-width: 1368px) {
  #contenido-categoria {
    display: flex;
    flex-direction: column;
  }

  .ctgr {
    border-width: 4px;
    width: 160px;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
  }

  iframe {
    height: 270px;
    width: 480px;
  }

  #cuna {
    display: block;
    background-color: white;
    width: 480px;
    font-size: small;
    margin-top: 100px;
  }
}

@media screen and (max-width: 540px) {
  iframe {
    height: 240px;
    width: 426px;
  }

  #cuna {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  iframe {
    height: 168px;
    width: 300px;
  }

  .imagenes-participantes {
    border: 3px solid black;
  }
}

@media screen and (max-width: 300px) {
  iframe {
    height: auto;
    width: 240px;
  }

  .imagenes-participantes {
    border: 2px solid black;
  }

  #btnArrow {
    font-size: smaller;
  }
}