.flecha {
  font-size: xxx-large;
}

.black {
  color: black;
}

.white {
  color: white;
}

#btnArrow {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  transition: all .1s ease;
  position: relative;
  right: 10px;
  color: inherit;
  background: none;
}

#btnArrow:hover {
  transition: all .1s ease;
  transform: translateX(-10px);
}

#btnArrow:active {
  transform: translateX(20px);
}

.flechasInicio, .arrowForward {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.flechasInicio:hover {
  transition: all .1s ease;
  transform: translateX(-10px);
}


@media screen and (max-width: 640px) {
  .arrowForward {
      color: black;
  }
}

@media screen and (max-width: 300px) {
  #btnArrow {
    position: inherit;
  }
}