.containerCategoria {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 2rem;
    grid-column: 2/3;
    grid-row: 3/4;
}

.imgCategoria{
    border-width: 4px;
    border-style: solid;
    border-color: black;
    width: 10rem;
    height: 10rem;
    margin: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    }