.footer {
  max-width: 100%;
  background-color: black;
  position: relative;
  display: grid;
  align-content: center;
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  line-height: 2rem;
  grid-template-columns: 10% 15% auto 10% 5% 11%;
  max-height: 10%;
  padding: 0 1%;
}

.backHome {
  grid-column: 1/2;
}

.formaNavegacion {
  grid-column: 2/3;
}

.toRetribucion {
  grid-column: 4/5;
  justify-content: left;

}

.toCreditos {
  grid-column: 5/6;
  justify-content: left;

}

.backHome,
.formaNavegacion,
.toRetribucion,
.toCreditos {
  color: white;
  text-align: center;
  display: flex;
}

.audioPlayer {
  display: flex;
  flex-direction: row;
  grid-column: 6/7;
  align-items: center;
  justify-content: left;
  align-content: center;
}

.btn {
  background-color: transparent;
  border: none;
}

.btnMusic path {
  stroke: white;
}

input[type="range"] {
  height: 1rem;
  color: white;
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(154,154,154,1) 52%, rgba(2,0,36,1) 100%); */
}



@media screen and (max-width: 640px) {
  .footer {
    font-size: x-small;
  }
}