.container {
    display: grid;
    grid-template-columns: repeat(7, minmax (0, 1fr));
}

.participante{
border-width: 4px;
border-style: solid;
border-color: black;
margin: 0.5rem;
width: 5rem;
height: 5rem;
}
@media screen and (max-width: 640px) {
}